.lazy-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: #2fdc2e;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    &:hover {
        box-shadow: 1px 2px 16px rgba(0,0,0,.3);        
    }
}